{{ define "table" }}
<table class="border-collapse w-10/12">
    <tr>
        <th class="border-2 border-solid border-black py-3 text-center">#</th>
        <th class="border-2 border-solid border-black py-3 text-center">Time</th>
        <th class="border-2 border-solid border-black py-3 text-center">Status</th>
        <th class="border-2 border-solid border-black py-3 text-center">Error Message</th>
    </tr>
    {{ range $i, $job := .History }}
    <tr>
        <td class="border-2 border-black text-center">{{ add $i 1 }}</td>
        <td class="border-2 border-black text-center" data-unix="{{ $job.Unix }}"></td>
        {{ if eq $job.Status 1 }}
        <td class="border-2 border-black text-center text-green-700 font-bold">{{ $job.GetStatusString }}</td>
        {{ else }}
        <td class="border-2 border-black text-center text-red-700 font-bold">{{ $job.GetStatusString }}</td>
        {{ end }}
        {{ if $job.APIResponse }}
        <td class="border-2 border-black text-center text-red-700 font-bold">{{ $job.APIResponse.Message }}</td>
        {{ else if ne $job.Status 1}}
        <td class="border-2 border-black text-center text-red-700 font-bold">unknown</td>
        {{ else }}
        <td class="border-2 border-black text-center">-</td>
        {{ end }}
    </tr>
    {{ else }}
    {{ if .Err }}
    <tr>
        <td class="border-2 border-black text-center text-red-700 font-bold" colspan="4">{{ .Err }}</td>
    </tr>
    {{ else }}
    <tr>
        <td class="border-2 border-black text-center font-bold" colspan="4">No data yet</td>
    </tr>
    {{ end }}
    {{ end }}
</table>
<script>
    document.querySelectorAll('td[data-unix]').forEach(function (element) {
        const unix = element.getAttribute('data-unix');
        const date = new Date(parseInt(unix) * 1000);
        element.innerText = date.toLocaleString(undefined, {
            year: 'numeric',
            month: 'short',
            timeZoneName: 'short',
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        });
    });
</script>
{{ end }}